nav ul {
    display: flex;
    font-family: Arial, sans-serif;
}
nav ul li {
    text-decoration-color: #1a3d63;
    list-style: none;
    padding: 0 5px;
    margin: 0px 10px 20px 10px;
}
nav ul li a {
    padding: 0 5px;
    text-decoration: none;
    color: #1a3d63;
    font-weight: bold;
}
nav ul li a:hover {
    padding: 0 5px;
    border-radius: 5px;
    border: 2px solid #f6fafd;
    background-color: #f6fafd;
}